
@font-face {
	@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    font-style: normal;

}


$head-font:'Droid Sans', sans-serif;
$main-font:'Droid Sans', sans-serif;





@font-face {
	font-family: 'icomoon';
	src:url('https://i.icomoon.io/public/temp/43a44af84a/UntitledProject/icomoon.eot?-7z7jw0');
	src:url('https://i.icomoon.io/public/temp/43a44af84a/UntitledProject/icomoon.eot?#iefix-7z7jw0') format('embedded-opentype'),
		url('https://i.icomoon.io/public/temp/43a44af84a/UntitledProject/icomoon.ttf?-7z7jw0') format('truetype'),
		url('https://i.icomoon.io/public/temp/43a44af84a/UntitledProject/icomoon.woff?-7z7jw0') format('woff'),
		url('https://i.icomoon.io/public/temp/43a44af84a/UntitledProject/icomoon.svg?-7z7jw0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook3:before {
    content: "\ea8e";
    color:#fff;
}

.icon-instagram:before {
    content: "\ea90";
     color:#fff;
    
}