.container-1{padding-top:69px; background-color:$drk-gray;}
.container-2{padding-top:69px; background-color:$lght-gray;}

.xelement,.beneficios,.productos,.contacto{color:#fff; width:960px; margin:0 auto;}