.left{float:left;}
.right{float:right;}
.both{clear:both;}
.center{text-align:center;}

.container-0{padding-top:4.8%; background-color:$drk-gray;}
.container-1{/*padding-top:69px;*/ background-color:$drk-gray;}
.container-2{/*padding-top:69px;*/ background-color:$lght-gray;}

.xelement,.beneficios,.productos,.contacto,.beneficios2{color:#fff; width:960px; margin:0 auto;}

/*temporary*/
.beneficios2,.productos,.contacto{padding:50px 0;}


.xelement{padding:50px 0;
	.section-logo{float:left; width:15%; padding-top:2%;}
	.separador{padding:0 6%;}
	h1{float:right; width:66%; font-weight:normal; font-size: .9em; line-height: 2em; font-family:$main-font; padding-top:2%;}
}


.beneficios{
	.ben-inner{
		width:35%; text-align:right; padding: 0% 5% 0% 0%;;
		h2{line-height:2em; letter-spacing: 1px;}
		p{font-size: .75em;line-height:2em;}		
	}
	
	.separador{display:inline-block; float:left;}
	
	.beneficios-img{display:inline-block; float:right;}
}


.contacto{
	p{&:nth-of-type(2){margin-top:50px;}}
	a{display: block; text-decoration:none; font-weight:bold; color:#fff; font-size:1.3em;}
	.separador,.mail-ico{display:inline-block; margin:10px 0 0 0 ;}
	.contact-social{list-style: none; margin:0; padding:0;
		li{display: inline-block; padding:0 1%;
			a{display: inline-block; }
		}
	}
}

/*TABS for PRODUCTS*/

	.etabs { margin: 0; padding: 0;  background-color:#282828; position: relative; width:1004px; margin:0 auto;}
    .tab { display:block; float:left; height:443px/*469px*/; z-index: 1;}
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0; outline: none; }
    
    .terra{width:251px; height:/*443px*/469px; background-image:url('../images/productos/botella-terra.jpg'); display: inline-block; background-repeat: no-repeat;}
    .terra.active{width:251px; height:469px; background-image:url('../images/productos/botella-terra-active.jpg'); display: inline-block; background-repeat: no-repeat; /*background-color:#282828;*/}
    
    .flamma{width:251px; height:/*443px*/ 469px; background-image:url('../images/productos/botella-flamma.jpg'); display: inline-block; background-repeat: no-repeat;}
    .flamma.active{width:251px; height:469px; background-image:url('../images/productos/botella-flamma-active.jpg'); display: inline-block; background-repeat: no-repeat; /*background-color:#282828;*/}
    
    .ventus{width:251px; height:/*443px*/ 469px; background-image:url('../images/productos/botella-ventus.jpg'); display: inline-block; background-repeat: no-repeat;}
    .ventus.active{width:251px; height:469px; background-image:url('../images/productos/botella-ventus-active.jpg'); display: inline-block; background-repeat: no-repeat; /*background-color:#282828;*/}
    
    .aqua{width:251px; height:/*443px*/ 469px; background-image:url('../images/productos/botella-aqua.jpg'); display: inline-block; background-repeat: no-repeat;}
    .aqua.active{width:251px; height:469px; background-image:url('../images/productos/botella-aqua-active.jpg'); display: inline-block; background-repeat: no-repeat; /*background-color:#282828;*/}
    
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff;position: relative;}
    .tab a.active { font-weight: bold; }
    
    .tab-container{background-color:#282828;} 
    .panel-container {clear:both;}
    .panel-container { margin-bottom:0px;  background-color:#1d1d1d; margin-top:-20px;}
    .panel-container div{width:1004px; margin:0 auto; padding:20px 0;}
    .panel-container div h2{margin:0; color:#fff;}
