footer{background-color:$drk-gray;
	.inner{text-align:center; 
		img{display: inline-block; width:3%; padding:2% 0;}
		p{color:#8c9192; font-size: .8em;}
	}
	.footer-img-bottom{display:block;width:100%;}
}